@import '../base/reset';
@import '../base/typography';

@import '../components/drop-down';
@import '../components/order';

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
